body {
  width: 480px;
  margin: 0 auto;
  overflow: hidden;
}

.progress-bar {
  padding: 0;
}

.internal-error {
  position: absolute;
  left: 1px;
  bottom: 1px;
  right: 1px;
  background: #fff;
  box-shadow: 0 -1px rgba(0, 0, 0, .4);
}

.controls {
  display: none;
}

.has-ui .controls {
  display: block;
}

.hide-ui .controls {
  position: absolute;
  width: 100%;
}
.hide-ui .controls span {
  display: none;
}
.hide-ui .player {
  box-shadow: none;
}

.s2-mini-header {
  background: white !important;
}
.s2-mini-ok {
  background: rgb(235, 235, 235) !important;
}
.s2-mini-ok:active {
  background: #ccc !important;
}
.s2-mini-window {
  border-radius: 0px !important;
  box-shadow: none !important;
}
